In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("amazon_laptop_cleaned.csv")

In [5]:
df.drop(df.columns[0],axis=1,inplace=True)

In [6]:
df

,Product Name,Price,Processor,Brand,RAM,Rating,Storage,Windows,Color,Discount,Screen Size
0,HP Omnibook 5 OLED,69990.0,NaN,HP,16GB,4.1,1TB,Windows 11,Silver,19.0,16.0
1,HP 15,60490.0,i5,HP,16GB,4.0,512GB,Windows 11,Silver,12.0,15.6
2,"EBook 11.6"" HD Laptop",10990.0,NaN,EBOOK,4GB,5.0,4GB,Windows 11,Black,56.0,11.6
3,HP 15,NaN,Ryzen 3,HP,8GB,4.0,512GB,Windows 11,Silver,NaN,15.6
4,"BrowseBook 14.1"" FHD IPS Laptop",12990.0,NaN,BROWSEBOOK,4GB,3.0,128GB,Windows 11,Grey,57.0,14.1
...,...,...,...,...,...,...,...,...,...,...,...
127,HP Pavilion Plus,61990.0,i5,HP,16GB,3.6,512GB,Windows 11,Silver,26.0,14.0
128,Lenovo V15 G4 AMD Ryzen 5 7520U 15.6 inch FHD ...,NaN,Ryzen 5,LENOVO,16GB,4.0,512GB,Windows 11,Grey,NaN,NaN
129,"Dyazo Slim 15"" to 15.6 Inch Laptop Sleeve",279.0,NaN,DYAZO,NaN,4.3,NaN,NaN,Grey,72.0,15.0
130,Primebook 2 Max 2025 (New Launch),22990.0,NaN,PRIMEBOOK,8GB,4.4,8GB,NaN,Gray,34.0,NaN
131,"Lenovo IdeaPad Slim 3 Ryzen 7 5825U 15.6"" (39....",52490.0,Ryzen 7,LENOVO,16GB,3.9,512GB,Windows 11,Grey,28.0,15.6

In [7]:
# 1. Which brand has highest average price?

highest_avg_price=df.groupby("Brand")["Price"].mean().sort_values(ascending=False)
res=highest_avg_price.reset_index(name="Average Price")
res

         Brand  Average Price
0          MSI  184740.000000
1    MICROSOFT  164503.000000
2           HP   64035.463415
3      SAMSUNG   58490.000000
4         ASUS   58127.333333
5       LENOVO   55729.296296
6         ACER   54560.000000
7         DELL   49272.800000
8    PRIMEBOOK   21590.000000
9      ULTIMUS   18990.000000
10    PORTABLE   16999.000000
11      WALKER   16990.000000
12     THOMSON   13990.000000
13  BROWSEBOOK   12990.000000
14       EBOOK   10990.000000
15     JIOBOOK   10990.000000
16     WEMBLEY     839.000000
17       CABLE     699.000000
18       DYAZO     279.000000

In [8]:
# 2. Which brand has highest average rating?

highest_avg_rating=df.groupby("Brand")["Rating"].mean().sort_values(ascending=False)
res=highest_avg_rating.reset_index(name="Average Rating")
res

         Brand  Average Rating
0        EBOOK        5.000000
1      SAMSUNG        4.400000
2    PRIMEBOOK        4.400000
3        DYAZO        4.300000
4         ASUS        4.253333
5     PORTABLE        4.100000
6       LENOVO        4.096667
7           HP        4.038636
8         DELL        4.033333
9          MSI        3.900000
10     WEMBLEY        3.900000
11        ACER        3.877778
12       CABLE        3.800000
13     ULTIMUS        3.400000
14   MICROSOFT        3.100000
15  BROWSEBOOK        3.000000
16     THOMSON        3.000000
17     JIOBOOK        2.900000
18      WALKER        2.900000

In [9]:
# 3. Top 5 most reviewed laptops?

most_reviewed_lap = (df.sort_values("Rating", ascending=False).head(5))
most_reviewed_lap

,Product Name,Price,Processor,Brand,RAM,Rating,Storage,Windows,Color,Discount,Screen Size
36,ASUS Vivobook Go 14,37576.0,Ryzen 5,ASUS,8GB,5.0,512GB,Windows 11,Black,23.0,14.0
2,"EBook 11.6"" HD Laptop",10990.0,NaN,EBOOK,4GB,5.0,4GB,Windows 11,Black,56.0,11.6
79,HP Professional 14 (2025),NaN,i3,HP,NaN,5.0,512GB,Windows 11,Silver,NaN,14.0
72,ASUS Vivobook 15 (2025),38974.0,i3,ASUS,8GB,5.0,512GB,Windows 11,Silver,24.0,15.6
52,DELL 14 (2026) Intel Core 3 14th Gen 100U - (1...,43850.0,NaN,DELL,16GB,5.0,512GB,Windows 11,Blue,6.0,14.0

In [ ]:
# 4. What is the average discount percentage?

avg_disc_per=df.groupby("Brand")["Discount"].mean().sort_values(ascending=False).reset_index(name="Average Discount")
avg_disc_per

         Brand  Average Discount
0        CABLE         73.000000
1        DYAZO         72.000000
2       WALKER         58.000000
3   BROWSEBOOK         57.000000
4      JIOBOOK         56.000000
5      WEMBLEY         56.000000
6        EBOOK         56.000000
7      ULTIMUS         53.000000
8      THOMSON         47.000000
9      SAMSUNG         37.000000
10   PRIMEBOOK         34.400000
11      LENOVO         30.925926
12    PORTABLE         26.000000
13        ACER         23.100000
14        DELL         21.100000
15         MSI         19.750000
16        ASUS         19.333333
17          HP         16.780488
18   MICROSOFT          6.000000

In [ ]:
# 5. Price vs Rating correlation value?

res=df["Price"].corr(df["Rating"])
res

# As price increases, rating slightly decreases,
# BUT the relationship is very weak.

np.float64(-0.19734829508586132)

In [12]:
# 6. Distribution of laptops by RAM (8GB, 16GB, etc.)

df["RAM"] = df["RAM"].str.upper().str.strip()
distributions_on_brand=df["RAM"].value_counts().reset_index(name="Number of Laptops")
distributions_on_brand

    RAM  Number of Laptops
0  16GB                 62
1   8GB                 22
2  24GB                 12
3   4GB                  5
4  12GB                  4
5  32GB                  4
6   6GB                  2

In [13]:
# 7. Which screen size is most common?

df["Screen Size"].value_counts().idxmax()

np.float64(15.6)

In [14]:
# 8. How many laptops under ₹50,000?

res = df[df["Price"]<50000]
res.count()

Product Name    54
Price           54
Processor       28
Brand           54
RAM             43
Rating          53
Storage         50
Windows         41
Color           48
Discount        54
Screen Size     42
dtype: int64

In [15]:
# 9. What is the average price by RAM configuration (8GB vs 16GB vs 32GB)?

res=df.groupby("RAM")["Price"].mean().reset_index(name="Average Price")
res

    RAM  Average Price
0  12GB   37906.000000
1  16GB   61880.147541
2  24GB   74717.272727
3  32GB  130165.000000
4   4GB   12790.000000
5   6GB   39490.000000
6   8GB   32186.450000

In [16]:
# 10. What is the average price by processor type (i3, i5, Ryzen 5, etc.)?

res=df.groupby("Processor")["Price"].mean().reset_index(name="Average Price")
res

  Processor  Average Price
0   Ryzen 3   36153.333333
1   Ryzen 5   50270.214286
2   Ryzen 7   65399.090909
3    Ryzen5   47990.000000
4        i3   40804.800000
5        i5   61343.740741
6        i7   85202.500000